.link {
    text-decoration: none;
    color: black;
    font-size: 4rem;
    padding: 2rem;
    align-self: center;
}

.link:first-child {
    margin-top: 5rem;
}

.link:hover{
    text-decoration: underline;
}

@keyframes showOverlay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}